<div class="sidebar">
    <div class="logo">
        <img src="../../../assets/logo.png" />
    </div>
    <div class="controls">
        <div class="button">
            <app-admin-button shadow="5px 10px 18px #888888" color="green" bgColor="white" content="Terrains"
                (click)="terrain()"></app-admin-button>
        </div>

        <div class="button">
            <app-admin-button shadow="5px 10px 18px #888888" color="green" bgColor="white" content="Réservation"
                (click)="reservation()"></app-admin-button>
        </div>
        <div class="button">
            <app-admin-button shadow="5px 10px 18px #888888" color="green" bgColor="white" content="Utilisateurs"
                (click)="users()"></app-admin-button>
        </div>
        <div class="button">
            <app-admin-button shadow="5px 10px 18px #888888" color="green" bgColor="white" content="Déconnecter"
                (click)="logout()"></app-admin-button>
        </div>

    </div>

</div>