<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">Sport</th>
            <th class="text-left">Adresse</th>
            <th class="text-left">surface</th>
            <th class="text-left">disponibilité</th>
            <th class="text-left">prix(par heure)</th>
            <th class="text-left">Action</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        <tr *ngFor="let terrain of terrains">
            <td class="text-left">{{terrain.sport}}</td>
            <td class="text-left">{{terrain.address}}</td>
            <td class="text-left">{{terrain.surface+" m²"}}</td>
            <td class="text-left">{{terrain.available === true ? "disponible" : "occupé"}}</td>
            <td class="text-left">{{terrain.price+" DT/h"}}</td>
            <td class="text-left icon"><i class="fa fa-trash" aria-hidden="true" (click)="handleDelete(terrain.id)"></i>
            </td>
        </tr>
    </tbody>
</table>