.line {
  width: 145px;
  height: 8px;

  border-radius: 5px;
  background-color: #6bc4a6
}
.title h2 {
    color: #005326;
    font-size: 28px;
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Poppins';
    
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}