<div class="mainContent">
    <app-title [header]="mode"></app-title>
    <div class="addBtn">

        <app-admin-button shadow="5px 10px 18px #888888" color="white" bgColor="#005236" content="Ajouter"
            (click)="addAction()"></app-admin-button>
    </div>
    <app-add-form (isVisible)="showValue($event)" *ngIf="addVisible && mode === 'Utilisateurs' "
        [isVisible]="addVisible"></app-add-form>
    <app-add-terrain-form (isVisible)="showValue($event)" *ngIf="addVisible && mode === 'Terrains Sportifs' "
        [isVisible]="addVisible"></app-add-terrain-form>
    <app-users *ngIf="mode === 'Utilisateurs'"></app-users>
    <app-admin-terrains *ngIf="mode === 'Terrains Sportifs'"></app-admin-terrains>
    <app-reservation *ngIf="mode === 'Reservations Des Terrains'"></app-reservation>
</div>