<app-bg-header></app-bg-header>
<div class="content">
    <app-title [header]="title"></app-title>
    <div class="gridContent">
        <div class="pic">
            <img src="../../../assets/terrains/{{terrain?.image}}" alt="">
        </div>
        <div class="description">
            <div class="item">
                <span>Sport: </span>{{terrain.sport | titlecase}}
            </div>
            <div class="item">
                <span>Surface: </span>{{terrain.surface+ " m²"}}
            </div>
            <div class="item">
                <span>Pix par heure: </span>{{terrain.price+ " DT/h"}}
            </div>
            <div class="item">
                <span>Adresse: </span>{{terrain.address | titlecase}}
            </div>
            <div class="item">
                <span>Description: </span>{{terrain.description}}
            </div>
            <div class="reservation">
                <h2>Reservation</h2>
                <form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm" action="#">
                    <div class="dateInput">
                        <p>1. Choisir une date</p>
                        <input type="date" name="date" ngModel required date #date="ngModel">
                    </div>
                    <div class="timeGroup">
                        <div class="timeInput">
                            <p>2. De</p>
                            <input type="time" name="date_d" time ngModel required #date_d="ngModel">
                        </div>
                        <div class="timeInput">
                            <p>Jusqu'à</p>
                            <input type="time" name="date_f" time ngModel required date #date_f="ngModel">
                        </div>
                    </div>
                    <div class="error-msg" *ngIf="resErrorMessage">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        {{resErrorMessage}}
                    </div>
                    <div class="success-msg" *ngIf="resSuccessMessage">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        {{resSuccessMessage}}
                    </div>

                    <button type="submit" class="submitBtn" [disabled]="formulaire.invalid"
                        [ngClass]="formulaire.invalid ? 'disabled':''">Réserver</button>
                </form>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>