.footerContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  background: rgb(0, 83, 38);
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d976c,
    #93f9b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(0, 83, 38), #1d976c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding-top: 90px;
  padding-right: 50px;
  padding-left: 50px;
}

.footerContainer .wave {
  margin-bottom: -290px;
  z-index: 99;
}
.footerContainer .footer {
}
.footer .logo {
  width: 300px;
  height: 180px;
}
.footer .logo img {
  width: 100%;
  height: 100%;
}
.socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials ul i {
}
.footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.details {
}
.details .general {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: start;
}
.general .parag {
  text-align: center;
}
.links a {
    text-decoration: none;
    color: #fff;
}
.divider {
  width: 100%;
  height: 0px;

  border: 1px solid #6bc4a6;
}
.copyrights {
  margin-bottom: 5px;
  color: #6bc4a6;
  font-weight: 500;
  font-size: 20px;
}
.infos h3,
.socials h3 {
  color: #6bc4a6;
  font-weight: 550;
}
.infos ul li,
.socials ul li {
  list-style: none;
}
.infos,
.socials {
  padding: 0;
}
@media screen and (max-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
