<div class="aboutus">
    <div class="title">
        <!-- <Line color="#6BC4A6" /> -->
        <app-title header="Qui Sommes-Nous ?"></app-title>

    </div>
    <div class="content">
        <div class="cardsSection">
            <div class="circle">

            </div>
            <div ref={ref} class="cards">
                <app-card title="Terrains" content="Avez-vous déjà annuler votre partie faute de terrain?" num="1">
                </app-card>

            </div>
        </div>
        <div class="description">
            <div class="logo">
                <img src="../../../../assets/logoorange.png" alt="" />
            </div>
            <p>Plateforme Web Tunisienne</p>
            <p>Met à votre disposition plusieurs terrains à rééserver, des coachs à contacter. </p>
            <p>Vous permet de pratiquez votre sport préféré avec le moindre effort !</p>
            <div class="counter">
                <div class="stat">
                    <h2>+20</h2>
                    <p>Terrains Sportifs</p>
                </div>

                <div class="stat">
                    <h2>+5</h2>
                    <p>Sports Pratiqués</p>
                </div>

            </div>
        </div>
        <div class="circleS">

            <div class="innercircle"></div>

        </div>
    </div>
</div>